<div>
<p><%= comment.content %></p>
<p>Post by <%= comment.user.name%> <%= time_ago_in_words(comment.created_at) %> ago</p>

<div>
  <% if logged_in? %>
    <% if comment.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment)%>
      <%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
  <% end %>
</div>
</div>


