<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="avatar_post">
          <%= link_to gravatar_for(@user), user_path(@user) %>
        </div>
        <p><%= @user.name %></p>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
      <%= render "follow_form" if logged_in? %>
  </aside>
  <div class="col-md-8">
    <br>
    <% if @user.posts.any? %>
      <h3><%= t ".posts" %> (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <div class="text-center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    <% elsif current_user.id != @user.id %>
      <div class="alert alert-info" role="alert">
        <div class="text-center">
          <%= t ".post_not_exist" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


